{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="text-align:center; max-width:500px; margin :4rem auto;">
            <p>
                {{ target_user.date_joined }}
            </p>
            <h2 style="font-family: NanumSquareRoundEB">
                {{ target_user.username }}
            </h2>
            {% if target_user == user %}
                <button class="btn btn-dark rounded-pill" onclick="location.href='{% url 'accountapp:update' pk=user.id %}'">
                    Change Info
                </button>
                <button class="btn btn-danger rounded-pill" onclick="location.href='{% url 'accountapp:delete' pk=user.id %}'">
                    Quit
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}