<div style="border:1px solid; text-align:left; padding: 3%; margin:1rem; border-radius:1rem; border-color: #bbb;">
    <div>
        <strong>{{ comment.writer.profile.nickname }}</strong>&nbsp;&nbsp;&nbsp;
        {{ comment.created_at }}
    </div>
    <div>
        {{ comment.content }}
    </div>
    {% if comment.writer == user %}
    <div style="text-align:right">
        <button class="btn btn-danger rounded-pill col-2"
                onclick="location.href='{% url 'commentapp:delete' pk=comment.pk %}'">
            delete
        </button>
    </div>
    {% endif %}
</div>