<div class="vakterest_header">
    <div>
        <h1 class="vakterest_header_logo">vakterest</h1>
    </div>
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
            <span onclick="location.href='{% url 'accountapp:login' %}?next={{ request.path }}'">login</span>
        {% else %}
            <span onclick="location.href='{% url 'accountapp:logout' %}?next={{ request.path }}'">logout</span>
        {% endif %}
    </div>
</div>