<div class="vakterest_header">
    <div>
        <h1 class="vakterest_header_logo" onclick="location.href='{% url 'articleapp:list' %}'">vakterest</h1>
    </div>
    <div>
        <span class="vakterest_header_nav" onclick="location.href='{% url 'articleapp:list' %}'">Articles</span>
        <span class="vakterest_header_nav" onclick="location.href='{% url 'projectapp:list' %}'">Projects</span>
        {% if not user.is_authenticated %}
            <span class="vakterest_header_nav" onclick="location.href='{% url 'accountapp:login' %}?next={{ request.path }}'">Login</span>
            <span class="vakterest_header_nav" onclick="location.href='{% url 'accountapp:create' %}'">SignUp</span>
        {% else %}
            <span class="vakterest_header_nav" onclick="location.href='{% url 'accountapp:detail' pk=user.id %}'">MyPage</span>
            <span class="vakterest_header_nav" onclick="location.href='{% url 'accountapp:logout' %}?next={{ request.path }}'">Logout</span>
        {% endif %}
    </div>
</div>