{% extends 'base.html' %}

{% block content %}

<div style="text-align:center; max-width:700px; margin: 4rem auto;">
    <h1>
        {{ target_article.title }}
    </h1>
    <h5>
        {{ target_article.writer.profile.nickname }}
    </h5>
    <hr>
    <img src="{{ target_article.image.url }}" alt="" style="width:100; border-radius:1rem; margin:2rem 0; object-fit:cover;">
    <p>
        {{ target_article.content }}
    </p>

    {% if target_article.writer == user %}
        <button class="btn btn-dark rounded-pill col-5 mt-3" onclick="location.href='{% url 'articleapp:update' pk=target_article.pk %}'">
            Update
        </button>
        <button class="btn btn-danger rounded-pill col-5 mt-3" onclick="location.href='{% url 'articleapp:delete' pk=target_article.pk %}'">
            Delete
        </button>
    {% endif %}
    <hr>
    {% if target_article.comment %}
        {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}
    {% else %}
        <h4>아직 댓글이 없어요!</h4>
    {% endif %}

    {% include 'commentapp/create.html' with article=target_article%}
</div>
{% endblock %}